
@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,700');
@import url('https://fonts.googleapis.com/css?family=Karla:400,700');

body { 
  cursor: crosshair; 
  /*background: linear-gradient(to bottom, #FFDCF9, #DBFFFF);*/
  background-image: linear-gradient(to bottom, rgba(255, 0, 127, 0.3), rgba(0, 0, 255, 0.3), rgba(79, 250, 216, 0.3), rgba(205, 254, 0, 0.3));
  background-size: 200% 200%;
  /*width: 100vw;*/
  height: 100vh;
  display: block;
  overflow: hidden;
  font-size: 2em; 
  line-height: 1.6;
  font-weight: 400;
  font-family: 'Karla';
  color: blue; 
  animation: changeGradient 15s ease-in-out infinite;
}

@keyframes changeGradient { 
    0%{ background-position:50% 0% }
    50%{ background-position:50% 100% }
    100%{ background-position:50% 0% }
}

.container {
  position: relative;
  /*width: 100vw;*/
  overflow: hidden;
  margin: 0 auto;
  font-family: 'Karla', sans-serif;
}

/* ------------------------------------------------Title------------------------------------------------*/

.Title  .Links  > a {
  display: block;
  position: fixed;
  top: 1em;
  left:  calc(50% - 95px);
  font-size: 2.2em;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: inherit;
  width: auto;
  font-weight: 700;
  font-family: 'Space Mono';
}

/* ------------------------------------------------Links------------------------------------------------*/

.Links > a {
  position: absolute;
  color: inherit;
  display: block;
  left: 5vw;
  top: 5vh;
  width: 100px;
  text-decoration: none;
  z-index: 3;
  font-size: 1.8em;
  font-family: 'Karla';
}

.Links.Connect > a {
  left: calc(50% - 50px);
  top: 15%;
}

.Links.Instruction > a {
  writing-mode: vertical-rl;
  right: 2vw;
  top: calc(50% - 50px);
}

.Links.About > a{ 
  top: calc(100% - 8vh - 10px);
  left: calc(50% - 50px);
}

.Links.Event > a {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  left: 2vw;
  top: calc(50% - 50px);
}

/* ------------------------------------------------Grid------------------------------------------------*/
.Grid {
  display: none;
  margin: 0 auto;
  position: relative;
  line-height: 5em;
  top: 40vh;
  margin: 0 auto;
  width: 50%;
  height: 60vh;
  overflow-y: scroll;  
}

/* ------------------------------------------------Icons------------------------------------------------*/

.Icons {
  margin: 0 auto;
  position: absolute;
  display: block;
  top: 0;
  z-index: 2;
}

svg.Icons {
  margin: 0 auto;
  position: relative;
  display: block;
}


image.icons:hover {
  cursor: pointer;
  /*animation: rollaround 0.5s infinite;*/
}

@keyframes rollaround {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* ------------------------------------------------IMAGES------------------------------------------------*/

.Images {
  margin: 0 auto;
  position: absolute;
  height: 0px;
  display: block;
  top: 0;
  z-index: 1;
} 

svg.Images{
  margin: 0 auto;
  display: block;
  position: relative;
  z-index: 1;
}

.FrameElement {
  display: inline-block;
  position: relative;
  cursor: pointer;
  z-index: 2;
  margin: 0 10px;
}


/* ------------------------------------------------CONTENT------------------------------------------------*/

.Content {
  margin: 0 auto;
  position: relative;
  line-height: 1.5em;
  font-size: 1em;
  top: 30vh;
  margin: 0 auto;
  width: 60%;
  height: 60vh;
  overflow-y: scroll;  
  font-weight: 400;
  font-family: 'Karla';
}

.Content > div > img {
  display: inline-block;
}

.Content > img {
  margin: 0 auto;
  display: block;
  height: 60% ;
  margin-bottom: 5vh;
}

.Content > p > a {
  color: inherit;
}
/* ------------------------------------------------INSTRUCTIONS------------------------------------------------*/

.Instruction > .Content {
  width: 75%;
}

.Instruction .Content  > iframe {
  display: block;
  position: relative;
  margin-bottom: 10px;
  border: 3px solid blue;
  width: 49vw;
  float: right;
  height: 300px;
}

#twitter-widget-0, #twitter-widget-1  {
  display: block;
  position: relative;
  width: 99.3% !important;
  float: left;
  margin: 0 auto;
  /*left: calc(50% - 225px);*/
  
}

#twitter-widget-1 {
  width: 22vw !important;
  border: 3px solid blue !important; 
}

#twitter-widget-1::after {
  content: '';
}

/*-------------------------------------------------*/
/* =  13. responsive
/*-------------------------------------------------*/
@media screen and (max-width: 25.875em) {
  body {
    font-size: 2.6em; 
    line-height: 2.2;
  }
  
}


@media screen and (max-width: 35.5em) {
  body {
    font-size: 2.4em; 
    line-height: 2;
  }  

}

@media screen and (max-width: 47em) {
  body {
    font-size: 2.2em; 
    line-height: 1.8;
  }

  /*------------Instruction tricks------------*/

  .Content {
    width: 80vw;
    top: 40vh;
  }

  .Instruction .Content  > iframe { 
    width: 74vw !important;
    margin: 0 0 10px 0;
  }

  #twitter-widget-1 {
    width: 74vw !important;
    margin: 0 0 10px 0;
  }  

  /*------------Button tricks------------*/

  .Links.Connect > a {
    left: calc(50% - 50px);
    top: 15%;
  }

  .Links.Instruction > a {
    writing-mode: horizontal-tb;
    left: calc(50% - 50px);
    top: 20%;
  }

  .Links.About > a{ 
    left: calc(50% - 50px);
    top: 30%;
  }

  .Links.Event > a {
    writing-mode: horizontal-tb;
    transform: rotate(0);
    left: calc(50% - 50px);
    top: 25%;
  }

  /*------------Grid tricks------------*/

  .Grid {
    display: block;
  }

  .Icons {
    display: none;
  }

  svg.Icons {
    display: none;
  }  

  .Images  > svg {
    opacity: 0.6;
  }

}

@media screen and (max-width: 64em) {
  body {
    font-size: 2.1em; 
    line-height: 1.7;
  } 
}


