body { 
  cursor: crosshair; 
}

.container {
  position: relative;
  margin: 0 auto;
  box-sizing: border-box; 
  height: 100em;
  background: linear-gradient(to bottom, #FFDCF9, #DBFFFF);
}

/* ------------------------------------------------Title------------------------------------------------*/

.title {
  position: relative;
  display: block;
}

.title  > h1{
  position:fixed;
  top: 1em;
  left: 43vw;
  font-size:2.5em;
  font-weight: 400;
  letter-spacing: 0.03em;
}


/* ------------------------------------------------Button------------------------------------------------*/
button:hover {
  cursor: pointer;
}

/* ------------------------------------------------Icons------------------------------------------------*/

.Icons {
  margin: 0 auto;
  position: relative;
  display: block;
}
svg.Icons{
  margin: 0 auto;
  position: relative;
  display: block;
  border: 1px solid red;
}
image.icons:hover {
  cursor: pointer;
}

/* ------------------------------------------------IMAGES------------------------------------------------*/

.Images {
  margin: 0 auto;
  position: fixed;
  height: 0px;
} 
svg.Images{
  margin: 0 auto;
  display: block;
  border: 1px solid red;
}

/* ------------------------------------------------FOOTER------------------------------------------------*/

.Content {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 20em;
  z-index: 1;
}


#footer{
 position: absolute;
 display: inline-block;
 bottom: 10em;
 right: 10em;
 width: 10vw;
 font-size:60%; 
 font-style: italic;

}