@import url('https://fonts.googleapis.com/css?family=Karla:400,700');
@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,700');

body { 
  cursor: crosshair; 
  font-family: 'Karla';
  background: linear-gradient(to bottom, #FFDCF9, #DBFFFF);
  height: 100vh;
  display: block;
  overflow: hidden;
}

.container {
  position: relative;
  margin: 0 auto;
}

/* ------------------------------------------------Title------------------------------------------------*/

.Title  .Links  > a {
  display: block;
  position: fixed;
  top: 1em;
  left:  calc(50% - 95px);
  font-size: 2.2em;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: inherit;
  width: auto;
  font-weight: 700;
  font-family: 'Space Mono';
}

/* ------------------------------------------------Links------------------------------------------------*/

.Links > a {
  position: absolute;
  color: inherit;
  display: block;
  left: 5vw;
  top: 5vh;
  width: 100px;
  text-decoration: none;
  z-index: 2;
  font-size: 1.8em;
}

.Links.Connect > a {
  left: calc(50% - 50px);
  top: 10%;
}

.Links.Instruction > a {
  writing-mode: vertical-rl;
  right: 2vw;
  top: calc(50% - 50px);
}

.Links.About > a{ 
  top: calc(100% - 8vh - 10px);
  left: calc(50% - 50px);
}

.Links.Event > a {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  left: 2vw;
  top: calc(50% - 50px);
}

/* ------------------------------------------------Icons------------------------------------------------*/

.Icons {
  margin: 0 auto;
  position: absolute;
  display: block;
  top: 0;
}

svg.Icons{
  margin: 0 auto;
  position: relative;
  display: block;
}

image.icons:hover {
  cursor: pointer;
}

/* ------------------------------------------------IMAGES------------------------------------------------*/

.Images {
  margin: 0 auto;
  position: absolute;
  height: 0px;
  display: block;
  top: 0;
} 

svg.Images{
  margin: 0 auto;
  display: block;
}

/* ------------------------------------------------CONTENT------------------------------------------------*/

.Content {
  margin: 0 auto;
  position: absolute;
  line-height: 1.5em;
  z-index: 1;
  font-size: 1em;
  top: 0vh;
}

/* ------------------------------------------------FOOTER------------------------------------------------*/

#footer{
 position: absolute;
 display: inline-block;
 bottom: 10em;
 right: 10em;
 width: 10vw;
 font-size:60%; 
 font-style: italic;
}